@font-face {
    font-family: 'FonteLogo';
    src: url(bubblegum-sans-regular.otf);
}

@import url('https://fonts.googleapis.com/css2? family = Titillium + Web: wght @ 300 & display = swap');


body{
    background-color: #dddddd;
}

figure.foto-legenda{

    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    position: relative;
}



figure.foto-legenda img{

    width: 100%;
    height: 100%;

}



figure.foto-legenda figcaption{

    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s;

}

figure.foto-legenda:hover figcaption{

    opacity: 1;

}

/* Formatação de menu */

nav#menu ul{
    list-style: none; /* retira os pontos da lista */
    text-transform: uppercase; /*transforma o texto, neste caso em maiúsculo */
    position: absolute;
        top: -20px;
        left: 610px;
}

nav#menu li{
    display: inline-block; /* lista lado a lado */
    background-color: #dddddd;
    padding: 10px; /* espaço interno */
    margin: 2px; /* espaço externo */
    transition: background-color 1s;
}

nav#menu{
    display: block;

}

nav#menu h1{
    display: none;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu a{
    color: #000000;
    text-decoration: none; /* retirando o underline */

}

nav#menu a:hover{
    color: #ffffff;
    text-decoration: underline; /* colocando o underline */
}


/* Formatação da div interface */

div#interface{
    width: 1100px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /*espalhamento lateral / espalhamento vertical / espalhamento da sombra / cor */
    padding: 10px;
}

header#cabecalho img#icone{
    position: absolute;
    left: 1060px;
    top: 70px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("glass.jpeg") no-repeat 0px 80px; /* importação de imagen no css */

}


header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}









